In [68]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

In [63]:
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofnewyork.us,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

num_loops = 40
loop_size = 50000
data = []
# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
for i in range(num_loops):
    results = client.get("uacg-pexx",
                     select="dropoff_latitude, dropoff_longitude, fare_amount, pickup_latitude, pickup_longitude, tpep_dropoff_datetime, tpep_pickup_datetime, trip_distance",
                     where="(dropoff_latitude>40.64 and dropoff_latitude<40.65) and (dropoff_longitude>-73.795 and dropoff_longitude<-73.775)", 
                     order="tpep_pickup_datetime ASC",
                     limit=loop_size,
                     offset=loop_size * i)
    print("\r> Loop number: {}".format(i))
    for result in results:
        data.append(result)
        
# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(data)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

> Loop number: 0

> Loop number: 1

> Loop number: 2

> Loop number: 3

> Loop number: 4

> Loop number: 5

> Loop number: 6

> Loop number: 7

> Loop number: 8

> Loop number: 9

> Loop number: 10

> Loop number: 11

> Loop number: 12

> Loop number: 13

> Loop number: 14

> Loop number: 15

> Loop number: 16

> Loop number: 17

> Loop number: 18

> Loop number: 19

> Loop number: 20

> Loop number: 21

> Loop number: 22

> Loop number: 23

> Loop number: 24

> Loop number: 25

> Loop number: 26

> Loop number: 27

> Loop number: 28

> Loop number: 29

> Loop number: 30

> Loop number: 31

> Loop number: 32

> Loop number: 33

> Loop number: 34

> Loop number: 35

> Loop number: 36

> Loop number: 37

> Loop number: 38

> Loop number: 39

In [77]:
results_df.tail(20)

,dropoff_latitude,dropoff_longitude,fare_amount,pickup_latitude,pickup_longitude,tpep_dropoff_datetime,tpep_pickup_datetime,trip_distance,travelTime
0,40.645339965820313,-73.776268005371094,52,40.759960174560547,-73.977508544921875,2016-01-01 00:36:40,2016-01-01 00:09:38,17.86,00:27:02
1,40.645999908447266,-73.791259765625,2.5,40.646743774414063,-73.789688110351563,2016-01-01 00:22:56,2016-01-01 00:22:17,0.8,00:00:39
2,40.646141052246094,-73.791267395019531,52,40.760768890380859,-73.990921020507812,2016-01-01 01:30:41,2016-01-01 00:33:17,17.93,00:57:24
3,40.643531799316406,-73.790138244628906,52,40.764308929443359,-73.9957275390625,2016-01-01 01:10:28,2016-01-01 00:36:34,17.43,00:33:54
4,40.644306182861328,-73.783073425292969,4,40.644126892089844,-73.789909362792969,2016-01-01 00:43:54,2016-01-01 00:41:06,0.58,00:02:48
5,40.646026611328125,-73.7852783203125,4.5,40.645198822021484,-73.776824951171875,2016-01-01 00:47:33,2016-01-01 00:43:53,0.5,00:03:40
6,40.644737243652344,-73.781913757324219,52,40.760639190673828,-73.987472534179688,2016-01-01 01:21:05,2016-01-01 00:46:05,18.2,00:35:00
7,40.642803192138672,-73.789680480957031,52,40.756675720214844,-73.972198486328125,2016-01-01 01:19:42,2016-01-01 00:50:39,16.3,00:29:03
8,40.646991729736328,-73.786636352539063,2.5,40.646446228027344,-73.790245056152344,2016-01-01 00:57:26,2016-01-01 00:56:57,0.12,00:00:29
9,40.646717071533203,-73.781562805175781,52,40.75128173828125,-73.98382568359375,2016-01-01 01:36:11,2016-01-01 01:07:18,16.78,00:28:53
10,40.644298553466797,-73.782180786132812,52,40.749118804931641,-73.983787536621094,2016-01-01 01:35:17,2016-01-01 01:09:15,16.79,00:26:02
11,40.646820068359375,-73.790122985839844,85,0,0,2016-01-01 01:15:59,2016-01-01 01:15:55,0,00:00:04
12,40.645072937011719,-73.776473999023438,52,40.756210327148438,-73.974494934082031,2016-01-01 01:54:14,2016-01-01 01:25:34,17.23,00:28:40
13,40.645420074462891,-73.776336669921875,40,40.776031494140625,-73.910858154296875,2016-01-01 01:56:17,2016-01-01 01:34:10,14.48,00:22:07
14,40.646930694580078,-73.7900390625,32.5,40.774105072021484,-73.873069763183594,2016-01-01 01:49:53,2016-01-01 01:36:24,12.08,00:13:29
15,40.646778106689453,-73.790176391601562,52,40.751701354980469,-73.975479125976562,2016-01-01 02:11:24,2016-01-01 01:48:59,16.42,00:22:25
16,40.641330718994141,-73.788543701171875,52,40.761680603027344,-73.988388061523438,2016-01-01 02:29:49,2016-01-01 01:50:27,17.46,00:39:22
17,40.646366119384766,-73.776435852050781,19,40.668636322021484,-73.867851257324219,2016-01-01 02:08:13,2016-01-01 01:58:57,6.57,00:09:16
18,40.646579742431641,-73.780921936035156,3,40.644756317138672,-73.7818603515625,2016-01-01 02:02:29,2016-01-01 02:01:17,0.2,00:01:12
19,40.646900177001953,-73.790290832519531,52,40.709850311279297,-74.014862060546875,2016-01-01 02:34:53,2016-01-01 02:01:29,21.45,00:33:24

Why are there 0 for longitude and latitude?

In [82]:
print(results_df.shape)
results_df = results_df[results_df["trip_distance"] != "0"]
print(results_df.shape)

(549930, 9)
(524491, 9)

In [83]:
np.mean(results_df.trip_distance.astype("float"))

17.080223054350046

In [72]:
results_df.tpep_dropoff_datetime = pd.to_datetime(results_df.tpep_dropoff_datetime)
results_df.tpep_pickup_datetime = pd.to_datetime(results_df.tpep_pickup_datetime)

In [76]:
results_df["travelTime"] = pd.to_timedelta(results_df.tpep_dropoff_datetime - results_df.tpep_pickup_datetime)
results_df["travelTime"]

0        00:27:02
1        00:00:39
2        00:57:24
3        00:33:54
4        00:02:48
5        00:03:40
6        00:35:00
7        00:29:03
8        00:00:29
9        00:28:53
10       00:26:02
11       00:00:04
12       00:28:40
13       00:22:07
14       00:13:29
15       00:22:25
16       00:39:22
17       00:09:16
18       00:01:12
19       00:33:24
20       00:00:05
21       00:17:07
22       00:01:26
23       00:31:58
24       00:25:39
25       00:24:26
26       00:01:06
27       00:00:21
28       00:25:16
29       00:26:10
           ...
549900   00:43:35
549901   00:00:12
549902   00:47:08
549903   00:21:46
549904   00:00:42
549905   00:35:19
549906   00:55:44
549907   00:00:55
549908   00:39:04
549909   00:00:03
549910   00:40:41
549911   00:48:07
549912   00:02:12
549913   00:48:47
549914   00:35:23
549915   00:00:23
549916   00:35:00
549917   00:00:17
549918   00:00:05
549919   00:36:09
549920   00:00:32
549921   00:37:24
549922   00:30:03
549923   00:21:47
549924   00:00:17
549925   00:00:07
549926   00:00:49
549927   00:00:22
549928   00:42:13
549929   00:00:10
Name: travelTime, Length: 549930, dtype: timedelta64[ns]

In [84]:
results_df.to_csv("../output/JFK_data.csv")